{
  // 전역변수 환경 설정
  "env": {
    "node": true
  },

  // npm을 통해 설치한 외부 ESLint 설정 등록 (eslint-config-{name}으로 설치)
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],

  "root": true,

  // ESLint에 지원할 JavaScript 옵션 설정
  "parserOptions": {
    "sourceType": "module"
  },

  // parser 등록
  "parser": "@typescript-eslint/parser",

  // 사용자 규칙 추가할 플러그인 (eslint-plugin-{name}으로 설치)
  "plugins": ["@typescript-eslint", "prettier"],

  // 플러그인을 통해 설치한 것 외에 규칙 설정
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    "no-use-before-define": ["off"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ]
  }
}
